* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.container div {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

/*Header Section */

.header {
    background-color: antiquewhite;
    grid-column: 2 / 5;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
    padding: 20px;
}


.header h3, .header h2 {
    color: black;
}

.search-bar-header {
    display:grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    vertical-align: middle;
}

.top-right-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: end;
}

.greeting-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.buttons-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}

.headerbtn {
    width: 78px;
    height: 35px;
}

/* Side Bar Left*/

.side-bar-left {
    background-color: #0284c7;
    grid-row: 1 / 5;
}

/*Article*/
.article {
    background-color: #bae6fd;
}

/*Side Bar Right*/

.side-bar-right {
    background-color: #0284c7;
}

/*General*/

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}