* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    font-family: "Roboto", Arial, sans-serif
}

.container div {
    font-size: 32px;
    color: white;
}

/*Header Section */

.header {
    grid-column: 2 / 5;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
    padding: 20px;
    background-color: #f7e2e2;
    box-shadow: rgba(0,0,0,0.15) 2px 2px 2.5px;
    z-index: 2;
}


.header h3, .header h2 {
    color: #1a132f;
}

.search-bar-header {
    display:grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    vertical-align: middle;
}

.searchbar {
    width: 95%;
    border-radius: 25px;
    height: 20px;
    padding:5px;
}

.top-right-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    width: 250px;
}

.greeting-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.buttons-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 100px;
}

.headerbtn {
    width: 78px;
    height: 35px;
    border-radius: 100px;
    background-color: #5b7db1;
    color:white;
    font-weight: bold;
}

.bellicon {
    font-weight: 700;
    font-size: 1.2rem;
}

.user-avatar-small {
    width: 32px;
}

.user-avatar-medium {
    width: 50px;
}

/* Side Bar Left*/

.side-bar-left {
    background-color: #1a132f;
    grid-row: 1 / 5;
    box-shadow: rgba(0,0,0,0.15) 2px 2px 2.5px;
    z-index: 2
}

/*Article*/
.article {
    background-color: #5b7db1;
}

.article .card {
    height: 250px;
    width:250px;
}

/*Side Bar Right*/

.side-bar-right {
    background-color: #5b7db1;
}

/*Card*/
.card {
    background-color: #61A4bc;
}

/*General*/

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}